#pageFooter {
    max-width: 100vw;
    background-color: gray;
    padding: 28px 60px;
}
#pageFooter:after {
    display: block;
    clear: both;
    content: "";
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container > * {
    display: flex;
    flex-direction: column;
}

.logo {
    align-items: flex-start;
    flex-grow: 0;
    width: 200px;
}


