#pageFooter {
    max-width: 100vw;
    height: 300px;
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.container > * {
    display: flex;
    flex-direction: column;
}

.logo {
    align-items: flex-start;
    flex-grow: 0;
    width: 200px;
}


