h1 {
    font-weight: bold;
    margin: 0;
}
#aboutUs .details{
    display: flex;
    justify-content: center;
    align-items: center;
}


html {
    scroll-behavior: smooth;
}
body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.generalOutput {
    background-color: aliceblue;
}

.anchorAboutUs, .anchorServices, 
.anchorContacts, .anchorContactUs,
.anchorOurWorks {
    display: block;
    visibility: hidden;
    height: 7vw;
    margin-top: -7vw;
}

/*About us*/
#aboutUs {
    max-width: 100vw;
    height: 100vh;
    display: flex;;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
#aboutUs .details {
    border-radius: 15px;
    border: 1px solid gray;
    background-color: darkgray;
    width: 40%;
    height: 70%;
}
#aboutUs .featuresBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featuresBlock > *{
    flex: 1;
    margin: 10px 0;
}
#aboutUs .featuresContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
#aboutUs .featuresContainer > div {
    width: 250px;
    height: 120px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 15px;
}
.contactUsBtn a {
    padding: 15px;
    border: 2px solid darkgray;
    background-color: gray;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


#services {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicesList {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
}
#services .servicesList > div {
    width: 250px;
    height: 300px;
    border: 2px solid darkgray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
#services div > a {
    text-decoration: none;
    padding: 10px;
    border: 2px solid darkgray;
    border-radius: 10px;
    color: gray;
    font-weight: bolder;
    font-size: larger;
}

#ourWorks {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ourWorks:after {
    display: block;
    clear: both;
    content: "";
}
#ourWorks h1{
    display: flex;
    justify-content: center;
}

#contactUs {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#contacts {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contacts .contactsBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
/* 
@media (max-width: 950px) {
    #aboutUs {
        flex-direction: column;
    }
    #aboutUs .details {
        width: 90%;
        height: 35%;
    }
    #aboutUs .features {
        width: 90%;
        height: 60%;
    }
}
@media (max-width: 730px) {

}
@media (max-width: 580px) {
    #anchorAboutUs, #anchorPrice, #anchorContacts, #anchorContactUs {
        height: 60px;
        margin-top: -60px;
    }
    #aboutUs .details {
        width: 90%;
        height: 90%;
    }
    #aboutUs .features {
        display: none;
    }
}
*/
