.servicePage {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*отступ между описанием и боковым блоком*/
    padding: 64px 148px; /*внутренний отступ секции*/
}
.serviceBox {
    display: flex;
    flex-direction: column;
    padding: 0 36px 0 24px; /*внутренний отступ описания*/
    gap: 16px; /*отступ между заголовком и описанием*/
}
.serviceBox h1 {
    margin: 0;
}

.serviceDetails {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px; /*отступ между блоками текста*/
}
.serviceDetails p {
    margin: 0;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 12px; /*отступ между заголовком и списком*/
}
.list h4 {
    margin: 0;
}
.list ul {
    padding-left: 20px;
}
.list ul > li {
    padding-left: 20px;
    list-style-type: disc;
}

.aditionalBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.toOrderBox {
    padding: 16px 24px;
    width: 336px;
    box-sizing: border-box; /*виксирует размер блока не давая padding расширять блок*/
    gap: 40px; /*отступ между кнопкой и текстом*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.orderInfo {
    width: 100%;
    gap: 16px; /*отсутп между заголовком и ценой*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.orderInfo h1 {
    font-weight: 500;
}
.orderInfo p {
    margin: 0;
}
.orderInfo p strong {
    font-size: 2em;
}
.toServicesBtn {
    
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.toServicesBtn a {
    width: 100%;
    padding: 16px;
    background-color: gray;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.containerGallerey {
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .servicePage {
        flex-direction: column;
        justify-content: initial;
        padding: 64px 32px; /*внутренний отступ секции*/
        gap: 40px; /*отступ между описанием и боковым блоком*/
    }
    .serviceBox {
        padding: 0 24px; /*внутренний отступ описания*/
    }
    .aditionalBox {
        box-sizing: border-box;
        padding: 0 48px;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .orderInfo {
        align-items: flex-start;
    }
}