.servicePage {
    max-width: 100vw;
    padding: 64px 148px;
}
.servicePage:after {
    display: block;
    clear: both;
    content: "";
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container h1 {
    margin: 0 0 16px 0;
}
.container ul {
    padding-left: 20px;
}
.container ul > li {
    padding-left: 20px;
    list-style-type: disc;
}

.serviceDetails {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
}
.serviceDetails p {
    margin: 0;
}
.serviceDetails h4 {
    margin: 0 0 12px 0;
}

.aditionalBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.toOrderBox {
    width: 70%;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.toOrderBox:after {
    display: block;
    clear: both;
    content: "";
}
.orderInfo {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.orderInfo h1 {
    font-weight: 500;
}
.orderInfo p {
    margin: 0;
}
.orderInfo p strong {
    font-size: 2em;
}
.toOrderBox a {
    text-align: center;
    box-sizing: border-box;
    padding: 12px;
    width: 80%;
    background-color: gray;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.containerGallerey {
    margin-top: 20px;
}