.contactsContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    margin-bottom: 32px;
}
.contactsContainer * {
    margin: 0;
}
.contacts a {
    font-size: .9em;
}
.contacts {
    font-size: 1.5em;
}

.footer {
    align-items: flex-start;
    gap: 12px;
}