#ourWorks {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 60px; /*внутренние отступы секции*/
    gap: 40px; /*отступы между заголовком, картой и списком работ*/
}
#ourWorks h1{
    display: flex;
    justify-content: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

@media (max-width: 1024px) {
    #ourWorks {
        gap: 32px; /*отступы между заголовком, картой и списком работ*/
    }
}