/*Header General*/
#pageHeader {
    top: 0;
    max-width: 100vw;
    background-color: lightgray;
    position: sticky;
    z-index: 1000000;
    padding: 8px 60px; /*внутренний отступ секции*/
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#pageHeader a {
    font-weight: 600;
}

.mainPart {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: space-between;
    align-items: center;
}
/*Header Logo*/
#pageHeader .logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.logo a {
    display: inline-block; /*устанавливает размер ссылки таке же как и изображение*/
    line-height: 0;
}
.logo a img {
    display: block;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
}
/*Header Links*/
.nav {
    flex: 1;
    display: flex;
    align-items: center;
}
/*Contacts Block*/
.contactsBlock {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-wrap: nowrap;
    padding: 8px 16px 8px 8px; /*внутренний отступ блока контактов*/
    gap: 4px; /*отступ между списком номеров и режимом работы*/
}
.schedule > p {
    margin: 0;
    padding: 0;

    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #454545;
}

@media (max-width: 1024px) {
    #pageHeader {
        flex-direction: column;
        justify-content: initial;
        padding: 16px 32px 7px 32px;
        gap: 4px;
    }
    .logo a img {
        width: 55px;
        height: 55px;
    }
    .contactsBlock {
        flex-direction: row;
        gap: 16px;
    }
}
