.orderPage,
.orderPageContent {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 64px 0; /*внутренний отступ секции*/
    gap: 16px; /*отступ между формой и обратной ссылкой*/
}
.orderPageContent {
    padding: 0;
    gap: 40px; /*отступ между формой и заголовком*/
}
.header h1 {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
.moveBack a {
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #888888;
}

@media (max-width: 1024px) {
    .header h1 {
        font-size: 32px;
        line-height: 40px;
    }
}