.links {
    display: flex;
}
.links ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.row {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.column {
    flex-direction: column;
    gap: 8px;
}
